* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav CSS */

.logo-div img {
  width: 60px;
}

header > img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.87);
  color: orange;
}

nav .logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: orange;
  font-size: 1.2rem;
  margin: 0 20px;
}

nav img {
  filter: invert(1);
}

.middle-nav {
  width: 88vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  border-bottom: 1px solid orange;
}

.nav-middle-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: center;
  align-items: flex-end;
}

.nav-middle-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: center;
  align-items: flex-end;
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: center;
  align-items: flex-end;
}

.nav-links a{
  text-decoration: none;
  color: orange;
  font-size: 26px;
  margin: 0 10px;
}

.time{
  gap: 20px;
  font-size: 20px;
  align-self: center;
  align-items: flex-end;
}

.date{
  gap: 20px;
  font-size: 20px;
  align-self: center;
  align-items: flex-end;
}

.navContactMeBtn{
  background-color: orange;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.nav-left-line{
  width: 1px;
  height: 80px;
  background-color: orange;
  position: absolute;
  left: 5vw;
}
.nav-right-line{
  background-color: orange;
  position: absolute;
  right: 5vw;
  width: 1px;
  height: 80px;
}